In [35]:
import pandas as pd
import numpy as np
import scipy as sp

In [36]:
df = pd.read_csv("../data/fluTrends.csv")
X = df.values
names = df.columns.values

In [44]:
# Q1
sp.stats.describe(df, axis = None)

DescribeResult(nobs=520, minmax=(0.352, 4.862), mean=1.324625, variance=0.534456512283237, skewness=0.9390464857206353, kurtosis=0.8999197746655168)

In [51]:
#Q1 cont.
sp.stats.mode(df, axis = None)

/var/folders/fy/1nmbptg97yqfwbr_y2kq5zbr0000gn/T/ipykernel_90611/632852708.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  sp.stats.mode(df, axis = None)

ModeResult(mode=array([0.77]), count=array([4]))

In [52]:
#Q2
np.quantile(df, np.r_[0.05,0.25,0.50,0.75,0.95])

array([0.46495, 0.718  , 1.159  , 1.81325, 2.62405])

In [53]:
#Q3
df.describe()

,NE,MidAtl,ENCentral,WNCentral,SAt1,ESCentral,WSCentral,Mtn,Pac,WtdILI
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,1.223346,1.233538,1.275269,1.460212,1.298827,1.562519,1.292346,1.270019,1.063212,1.566962
std,0.600227,0.567629,0.604401,0.814372,0.651459,0.828007,0.719825,0.893757,0.567485,0.864139
min,0.428000,0.483000,0.452000,0.464000,0.468000,0.554000,0.456000,0.352000,0.377000,0.606000
25%,0.728250,0.714750,0.711250,0.701750,0.737750,0.922250,0.708000,0.624250,0.556000,0.795250
50%,1.129500,1.116000,1.265000,1.277500,1.102500,1.416500,1.107500,0.978500,0.957000,1.303500
75%,1.663000,1.710750,1.656250,1.993000,1.756500,2.084000,1.757750,1.695750,1.458000,2.343000
max,2.310000,2.205000,2.515000,3.115000,2.714000,3.859000,3.219000,4.862000,2.660000,3.260000